<div class="main-layout">
  <header class="main-header">
    <div class="header-content">
      <div class="logo">
        <img src="logo.png" alt="Логотип" class="logo-img">
      </div>

      @if (isAuthenticated) {
      <div class="header-actions">
        <div class="account-badge">
          <div class="account-info">
            <span class="account-label">Юр. лицо -</span>
            <span class="account-name">{{ userName }}</span>
          </div>
        </div>

          <button
            class="header-btn"
            (click)="logout()"
          >
            Выйти из аккаунта
          </button>
        </div>
      }

    </div>
  </header>
  <div class="content">
    <router-outlet></router-outlet>
  </div>

  <app-bottom-nav></app-bottom-nav>
</div>
