<!--<div class="profile-page-container">-->

<!--&lt;!&ndash; Блок профиля &ndash;&gt;-->
<!--<div class="profile-card">-->
<!--  &lt;!&ndash; Аватар с кнопкой смены &ndash;&gt;-->
<!--  <div class="avatar-section">-->
<!--    <div class="avatar-container">-->
<!--      <img [src]="profile.avatar" alt="Аватар" class="avatar"> &lt;!&ndash; добавить альт картинку для ноу аватара &ndash;&gt;-->
<!--      <label class="avatar-change-btn">-->
<!--        <input type="file" accept="image/*" (change)="onAvatarChange($event)" hidden>-->
<!--        📷-->
<!--      </label>-->
<!--    </div>-->
<!--  </div>-->

<!--  &lt;!&ndash; Информация профиля &ndash;&gt;-->
<!--  <div class="profile-info">-->
<!--    @if (!isEditing) {-->
<!--    <div class="info-view">-->
<!--      <p>{{ profile.firstName }} {{ profile.lastName }}</p>-->
<!--      <p>{{ profile.phone }}</p>-->
<!--      <p>{{ profile.organization }}</p>-->
<!--      <button class="edit-btn" (click)="startEdit()">Редактировать профиль</button>-->
<!--    </div>-->
<!--    }-->
<!--&lt;!&ndash;      @else {&ndash;&gt;-->
<!--&lt;!&ndash;      <div class="info-edit">&ndash;&gt;-->
<!--&lt;!&ndash;        <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;          <label>Имя:</label>&ndash;&gt;-->
<!--&lt;!&ndash;          <input type="text" [(ngModel)]="editedProfile!.firstName" class="form-input">&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->

<!--&lt;!&ndash;        <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;          <label>Фамилия:</label>&ndash;&gt;-->
<!--&lt;!&ndash;          <input type="text" [(ngModel)]="editedProfile!.lastName" class="form-input">&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->

<!--&lt;!&ndash;        <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;          <label>Телефон:</label>&ndash;&gt;-->
<!--&lt;!&ndash;          <input type="tel" [(ngModel)]="editedProfile!.phone" class="form-input">&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->

<!--&lt;!&ndash;        <div class="form-group">&ndash;&gt;-->
<!--&lt;!&ndash;          <label>Организация:</label>&ndash;&gt;-->
<!--&lt;!&ndash;          <input type="text" [(ngModel)]="editedProfile!.organization" class="form-input">&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->

<!--&lt;!&ndash;        <div class="edit-actions">&ndash;&gt;-->
<!--&lt;!&ndash;          <button class="save-btn" (click)="saveProfile()">Сохранить</button>&ndash;&gt;-->
<!--&lt;!&ndash;          <button class="cancel-btn" (click)="cancelEdit()">Отмена</button>&ndash;&gt;-->
<!--&lt;!&ndash;        </div>&ndash;&gt;-->
<!--&lt;!&ndash;      </div>&ndash;&gt;-->
<!--&lt;!&ndash;      }&ndash;&gt;-->
<!--  </div>-->
<!--</div>-->

<!--</div>-->

<!--&lt;!&ndash; История заказов &ndash;&gt;-->
<!--<div class="orders-section">-->
<!--  <h2>История заказов</h2>-->

<!--  @if (orders.length === 0) {-->
<!--  <div class="no-orders">-->
<!--    <p>У вас пока нет заказов</p>-->
<!--  </div>-->
<!--  } @else {-->
<!--  <div class="orders-list">-->
<!--    @for (order of orders; track order.id) {-->
<!--      <div class="order-card">-->
<!--        <table>-->
<!--          <tr>-->
<!--            <td>-->
<!--              <h3>Заказ №{{ order.orderNumber }}</h3>-->
<!--            </td>-->
<!--            <td rowspan="2" class="right-column">-->
<!--              {{ getStatusText(order.status) }}-->
<!--            </td>-->
<!--          </tr>-->
<!--          <tr>-->
<!--            <td>-->
<!--              <span class="order-date">от {{ order.date | date:'dd.MM.yy'}}</span>-->
<!--            </td>-->
<!--          </tr>-->


<!--          @for (item of order.items; track item.product.id) {-->
<!--            <tr>-->
<!--              <td>-->
<!--                {{ item.product.name }}-->
<!--              </td>-->
<!--              <td rowspan="2" class="right-column">-->
<!--                {{ item.total}} ₽-->
<!--              </td>-->
<!--            </tr>-->
<!--            <tr>-->
<!--              <td>-->
<!--                <span>{{ item.quantity }} шт. × {{ item.product.price}} ₽ </span>-->
<!--              </td>-->
<!--            </tr>-->
<!--          }-->

<!--            <tr>-->
<!--              <td>-->
<!--                <strong>Итого:</strong>-->
<!--              </td>-->
<!--              <td class="right-column">-->
<!--                <strong>{{ order.total}} ₽</strong>-->
<!--              </td>-->
<!--            </tr>-->
<!--        </table>-->
<!--      </div>-->
<!--  }-->
<!--  </div>-->
<!--  }-->
<!--</div>-->

