<div class="profile-page-container">

  <!-- История заказов -->
  <div class="orders-section">
    <h2>История заказов</h2>

    @if (orders.length === 0) {
    <div class="no-orders">
      <p>У вас пока нет заказов</p>
    </div>
    } @else {
    <div class="orders-list">
      @for (order of orders; track order.id) {
    <div class="order-card" (click)="toggleOrderDetails(order.id)">
      <div class="order-header">
        <div class="order-info">
          <h3 class="order-number">Заказ №{{ order.id }}</h3>
          <span class="order-date">от {{ order.ordered | date:'dd.MM.yy'}}</span>
        </div>
        <div class="order-status">
              <span class="status-badge status-{{order.status_id}}">
                {{ getStatusText(order.status_id) }}
              </span>
        </div>
        <div class="order-arrow">
          <i class="arrow" [class.arrow-down]="isOrderExpanded(order.id)"></i>
        </div>
      </div>

      <!-- Блок с деталями заказа -->
      @if (isOrderExpanded(order.id)) {
      <div class="order-details">

      <!-- Список товаров -->
      @if (order.items && order.items.length > 0) {
      <div class="order-items">
        <div class="items-header">
          <span>Товары</span>
          <span>Количество</span>
          <span>Сумма</span>
        </div>

        @for (item of order.items; track item.GUID) {
        <div class="order-item">
          <div class="item-info">
            <div class="item-image">
              @if (item.file) {
        <img [src]="item.file">
        } @else {
        <div class="no-image">Нет фото</div>
        }
        </div>
        <div class="item-details">
          <span class="item-name">{{ item.name }}</span>
                    <span class="item-price">{{ item.price }} р./шт</span>
                  </div>
                </div>
                <div class="item-quantity">
                  <span class="quantity-badge">{{ item.count }} шт</span>
                </div>
                <div class="item-total">
        {{ (item.price * item.count) }} р.
                </div>
              </div>
        }
      </div>
      }
      </div>
      }

      <div class="order-footer">
        <div class="order-total">
          <strong>Итого: {{ order.total }} р.</strong>
        </div>
      </div>
    </div>
    }
    </div>
    }
  </div>
</div>
