<div class="item-container">
  <!-- Карусель изображений -->
  <div class="carousel-container">
    <div class="carousel-slide">
      <img
        [src]="currentImage"
        alt="Нет фото"
        loading="lazy"
        class="carousel-image"
      >
    </div>

    @if (productImages.length > 1) {
    <button class="carousel-btn prev" (click)="prevImage()">‹</button>
    <button class="carousel-btn next" (click)="nextImage()">›</button>

    <div class="carousel-indicators">
      @for (img of productImages; track $index; let i = $index) {
    <button
      class="indicator"
      [class.active]="currentImageIndex === i"
      (click)="goToImage(i)"
    ></button>
    }
    </div>
    }
  </div>


  <div class="product-info">
    <h2 class="product-name">{{ product?.name }}</h2>
    <div class="product-price">
      {{ product?.price | number:'1.2-2' }} ₽
    </div>
    <p class="product-description">{{product?.description}}</p>

<!--    <div class="specs-container">-->
<!--      <h3 class="specs-title">Характеристики</h3>-->
<!--      <table class="item-info-table">-->
<!--        <tbody>-->
<!--        <tr>-->
<!--          <td class="left-column">Страна производитель:</td>-->
<!--          <td class="right-column">{{product.origin_country}}</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td class="left-column">В наличии:</td>-->
<!--          <td class="right-column">{{product.stock}} шт.</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td class="left-column">Количество в коробке:</td>-->
<!--          <td class="right-column">{{product.number_in_box}} шт.</td>-->
<!--        </tr>-->
<!--        <tr>-->
<!--          <td class="left-column">Артикул:</td>-->
<!--          <td class="right-column">{{product.GUID}}</td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--      </table>-->
<!--    </div>-->

    <div class="add-btns-container">
      @if (addedQuantity === 0) {
      <button class="add-to-cart-1-item-btn" (click)="addToCart(1)">
      Добавить 1 шт.
      </button>
      } @else {
      <div class="quantity-controls">
        <button class="quantity-btn minus" (click)="decreaseQuantity()">
          −
        </button>
        <span class="quantity-display">{{ addedQuantity }} шт.</span>
          <button class="quantity-btn plus" (click)="increaseQuantity()">
            +
          </button>
        </div>
      }

<!--      <button class="add-to-cart-1-box-btn" (click)="addToCart(product.number_in_box)" [disabled]="product.stock === 0">-->
<!--      {{ product.stock === 0 ? 'Нет в наличии' : 'Добавить 1 кор.' }}-->
<!--      </button>-->
    </div>
  </div>
</div>
