body {
  background: #565656;
}

html, body {
  font-family: 'Inter', sans-serif;
}

.filters button {
  width: unset!important;
  max-width: 135px!important;
}

input.search-input {
  color: #fff!important;
}

.no-products h3 {
  color: #fff!important;
}

.no-products {
  color: #c6c6c6 !important;
}
